:root {
    --default-grey: #272727;
    --green: #006026;
    --light-grey: #071C00;
}
body {
    background-color: var(--default-grey);
    margin: 0;
    font-family: 'Hina Mincho', serif;
    font-size: 15pt;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    height: 30vh;
}
.nav-1 {
    flex: 1;
    display: flex;
    align-items: center;
}
.nav-1 img {
    width: 70%;
    margin-left: 20px;
}
.nav-2 {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}
.nav-3 {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-3 a {
    margin-right: 40px;
    color: white;
}
.theme {
    height: 50vh;
    display: flex;
    margin: 3%;
}
.div-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
}
.div-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-2 img {
    width: 75%;
    border-radius: 15px;
}
.below-theme {
    height: 20vh;
}


.location {
    text-align: center;
    background-color: var(--green);
    font-size: 35pt;
}
.location img {
    width: 25%;
}

.dishes {
    text-align: center;
    background-color: var(--light-grey);
    font-size: 35pt;
    color: white;
}
.dishes p {
    margin: 20px;
}
.dishes img {
    width: 180px;
    border-radius: 10px;
}
.dishes a {
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    border: solid white 1.5px;
    border-radius: 10px;
}
footer {
    text-align: center;
    font-size: 15px;
}
footer a {
    color: white;
}
.copyright {
    color: #00FFC2;
    font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .location img {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    nav {
        margin-top: -30px;
    }
    .theme {
        margin: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

        margin-top: -70px;
    }
    .nav-1 img {
        width: 150%;
    }
    .nav-2 {
        display: flex;
        justify-content: center;
        margin-left: 70px;
    }
    .location {
        margin-top: 100px;
    }
    .location img {
        width: 70%;
    }
}