:root {
    --default-grey: #272727;
}
body {
    background-color: var(--default-grey);
    margin: 0;
    font-family: 'Hina Mincho', serif;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    height: 30vh;
}
.nav-1 {
    flex: 1;
    display: flex;
    align-items: center;
}
.nav-1 img {
    width: 70%;
    margin-left: 20px;
}
.nav-2 {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}
.nav-3 {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-3 a {
    margin-right: 40px;
    color: white;
}

@media screen and (max-width: 767px) {
    nav {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}