:root {
    --default-grey: #272727;
}
body {
    background-color: var(--default-grey);
    margin: 0;
    font-family: 'Hina Mincho', serif;
    font-size: 15pt;
    text-align: center;
}
a {
    text-decoration: none;
}


.heading {
    font-size: 40px;
}
hr {
    border: solid #5C5C5C 1px;
}
.sub-heading {
    font-size: 30px;
    color: white;
}

footer {
    text-align: center;
    font-size: 15px;
}
footer a {
    color: white;
}
.copyright {
    color: #00FFC2;
    font-size: 20px;
}